/* Background */
.assessment-container {
    background-image: url("../assets/bgimg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Navbar */
  .assessment-navbar {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
  }
  
  .nav-logo {
    width: 40px;
    height: 40px;
  }
  
  .nav-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  /* Content Layout */
  .assessment-content {
    display: flex;
    height: 100%;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
  }
  
  .sidebar-item {
    padding: 10px;
    margin-bottom: 10px;
    background: gray;
    border-radius: 5px;
    text-align: center;
  }
  
  .sidebar-item.completed {
    background: green;
    color: white;
    font-weight: bold
  }
  
  /* Question Section */
  .question-section {
    flex: 1;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 50%;
  }
  
  /* Question Box */
  .question-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .option-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: rgba(13, 214, 180, 0.741);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
  }
  
  .option-btn:hover {
    background-color: #428a9a;
    color: white;
  }
  .option-btn.selected {
    background-color: #22d428;
    color: white;
    font-weight: bold;
    
  }
  
  /* Next Button */
  .next-btn {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .reset-btn {
    padding: 10px 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: auto;
    border-radius: 5px;
  }
  
  
.reset-btn:hover {
    background-color: darkred;
  }
  .next-btn:hover {
    background: darkgreen;
  }
  